# Pycache
*.pyc

# Environments
.env

# Other users don't need these files
test.py
todo.md

prices.db
config_private.yaml

chromedriver.exe

sqldiff.exe
sqlite3_analyzer.exe
sqlite3.def
sqlite3.dll
sqlite3.exe